
<% form_for :user, @user, :url=>invitation_url, :html=>{:method=>'put'} do |f| %>
  <%= f.error_messages %>
  <div id="addgift_form">

  <div class="clearer"></div>
  <div class="aglabel">Friend's name:</div>
  <div class="agfield"> <%= f.text_field :username %></div>
  <br />
  
  <div class="clearer"></div>
  <div class="aglabel">Friend's email:</div>
  <div class="agfield"> <%= f.text_field :email %></div>
  <br />
  <div class="clearer"></div>

 <%= image_submit_tag("/images/btn_sendinvite.gif") %>

</div>

<% end %>