<div id="li_body">
<%= render :partial => 'shared/sidebar' %>

<div id="li_content">
  <h1 class="invite_a_friend"></h1>

  <%= render :partial => 'invitation' %>
  <br/>


</div><!-- li_content -->

<div class="clearer"></div>
</div><!-- li_body -->



