<% title 'New User Registration'%>
<div id="li_body">

<div id="li_content">

<!-- h1> logon title image here </h1 -->

<!--h1 class="recently_added">Join idlika</h1 -->
<h1 class="join_idlika"></h1>

<%= render :partial => 'form' %>

<!-- link_to 'Back', gifts_path -->
</div><!-- li_content -->
<div class="clearer"></div>
</div><!-- li_body -->

