<div id="footer">
<p>&copy;2010 idlika partners LLC (<%= ENV['IDLIKA_VERSION']%>)&nbsp; | &nbsp;
<a href="#">Terms of Use</a>&nbsp; | &nbsp;
<a href="#">Privacy Policy</a>&nbsp; | &nbsp;
<a href="#">What Is idlika?</a>&nbsp; | &nbsp;
<a href="#">How It Works</a>&nbsp; | &nbsp;
<a href="#">Tell A Friend</a>&nbsp; | &nbsp;
<a href="#">Advertise / Sponsor</a>&nbsp; | &nbsp;
<a href="#">FAQ</a>&nbsp; | &nbsp;
<a href="#">Contact Us</a></p>
</div><!-- footer -->
