
	<div id="li_sidebar">
	  <ul>
	    <li><%= @current_friend.username %>'s REGISTRIES</li>
		    <li>render :partial => "shared/friend_registries" </li>
		<br/>
		<% @current_friend.registries.all.each do |@r|%>
		  <li><%= link_to @r.name, :controller=>'gifts', :action=>'index_for_registry', :registry_id=>@r.id %></li>
		<% end %>

		  <li><%= link_to 'Recently Added', :controller=>'gifts', :action=>'index_of_friend', :registry_id=>10 %></li>

		
	  </ul>
	</div><!-- li_sidebar -->
