
	<div id="li_sidebar">
	  <ul>
	    <li><%= @user.username %>'s Registries</li>
		<br/>
          <li><%= link_to 'Recently Added', :controller=>'gifts', :action=>'index', :registry_id=>10 %></li>

		<% @user.registries.all.each do |@r|%>
		  <li><%= link_to @r.name, :controller=>'gifts', :action=>'index_for_registry', :registry_id=>@r.id %></li>
		<% end %>
	  </ul>
	</div><!-- li_sidebar -->
