
	<div id="li_sidebar">
	  <ul>
        <li><%= link_to_unless_current (image_tag "sidenav_myregistries.gif"), user_registries_path(@user) %></li>
        <li>REGISTRIES OF: <%= @user.username%>
		    <%= render :partial => "shared/registries" %>
	  </ul>
	</div><!-- li_sidebar -->
