<li><%= link_to 'Recently Added', index_of_friend_path(@user) %></li>
<br/>
<% @user.registries.all.each do |@r|%>
  <li><%= link_to @r.name, :controller=>'gifts', :action=>'index_for_registry', :registry_id=>@r.id %></li>
<% end %>


