
	<div id="li_sidebar">
	  <ul>
	    <li><%= @friend.username %>'s Registries</li>
		<br/>
          <li><!-- link_to 'Recently xAdded', :controller=>'gifts', :action=>'select_friend', :friend_name => @friend.username --></li>

		  <% @friend.registries.all.each do |@r|%>
		    <li><%= link_to @r.name, :controller=>'gifts', 
		                             :action=>'select_friend_registry', 
		                             :id => @friend.id,
		                             :registry_id => @r.id %></li>
		  <% end %>
	  </ul>
	</div><!-- li_sidebar -->

