<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>idlika - Create lists or registries of things you like to receive, hair cuts at your favorite salon, gifts, anything; let your friends know so they can get you what you want; use your friends' registries to see what they want.  community shopping, shop, gifts, wish list, wishlists, preferences; share with friends and family</title>

  <%= stylesheet_link_tag 'idlika' %>
  <%= javascript_include_tag :defaults %> 
</head>