

<div id="loginarea">

  <% if show_links? %>    <!--ENV['RAILS_ENV'] == 'development' % -->
	<div id="user_nav">
		<% if current_user %>
		  Hello, <b><%=h @current_user.username %></b>.  |  
		  <!-- %= link_to "Edit Profile", edit_user_path(:current)% -->
		  <%= link_to "Logout", logout_path %>
		<% else %>
		  <%= link_to_unless_current "Register", new_user_path %> |
		  <%= link_to_unless_current "Login", login_path %>
		<% end %>
	</div>

  <% end %><!-- show_links? ENV['RAILS_ENV'] -->
</div><!-- loginarea -->