
<% if !flash[:notice].nil? %>
  <p style="border: 2px solid #009999; 
            padding: 1em;
            margin-bottom: 2em;
            background-color: white;
            font: font-weight: normal/bold; smaller sans-serif; color: #006666 ">
  <%= flash[:notice] %>
  </p>
<% end %>

<% if !flash[:warning].nil? %>
  <p style="border: 2px solid #ffcc00; 
            padding: 1em;
            margin-bottom: 2em;
            background-color: white;
            font: font-weight: normal/bold; smaller sans-serif; color: #006666">
  <%= flash[:warning] %>
  </p>
<% end %>

<% if !flash[:error].nil? %>
  <p style="border: 2px solid red; 
            padding: 1em;
            margin-bottom: 2em;
            background-color: white;
            font: font-weight: normal/bold; smaller sans-serif; color: #006666">
  <%= flash[:error] %>
  </p>
<% end %>