

<% @user.registries.all.each do |@r|%>
  <% if !@r.name.nil? %>
    <li><%= link_to @r.name, :controller=>'gifts', 
                             :action=>'index_for_registry', 
                             :registry_id => @r.id 
        %></li>
    <% if @r.name == "#{ENV['DEFAULT_REGISTRY_NAME']}"%>
      <br/>
    <% end %>
  <% end %>
<% end %>

