
<li><%= link_to 'Recently Added', user_gifts_path(@user) %></li>
<br/>
<% @user.registries.all.each do |@r|%>
  <% if !@r.name.nil? %>
    <li><%= link_to @r.name, :controller=>'gifts', :action=>'index_for_registry', :registry_id => @r.id %></li>
  <% end %>
<% end %>

