<div id="li_body">

<div id="li_content">

<h1 class="no_registries"></h1>

<h3>Once you've joined Idlika, what's next?  Here
	s a reminder!
  <ol>	
    <li>Create a Registry. (At least one is needed before you can collect gifts.s)</li><br/>
    <li>Add Gifts (these are images)</li><br/>
      <ul>
	    <li>From your phone</li><br/>
        <li>From web sites</li><br/>
        <li>From your digital camera</li>
      </ul><br/>
    <li>Invite Friends</li><br/>
    <li>Explore and Have Fun!</li>
  </ol>
<br/>
<br/>
</div><!-- li_content -->
<div class="clearer"></div>
</div><!-- li_body -->
