<h1>Frequently Asked Questions</h1>

<h3>What is idlika?</h3><p>idlika lets you assemble a gift registry from online links and photos you take yourself!
It was created to allow friends and family to share gift ideas by taking away the stress of not knowing what to buy for that special occasion. idlika allows you to communicating exactly what gifts you’d like to receive. </p>

<h3>How do I add my gift ideas?</h3>
<p>By uploading images you take yourself from your cell phone, digital camera or an image from a web site you can create a gift registry that then through Facebook or email you share your gift ideas with the family and friends you’ve given permission to. 

<h3>Example 1:</h3>
<p>Saw a great pair of shoes in Macy’s and you’d like them for a gift, no problem –Take a photo —log into your idlika account – upload the image into one of your registries you’ve created – write details of the shoes – share with your friends and family. 

<h3>Example 2:</h3>
<p>Have a favorite Spa you’d like to get a gift certificate, no problem – Log into your idlika account – create a gift item - enter the name of the Spa and further information to make it easy for friends and family to get that gift certificate you’d like! From your list, your friends and family can see exactly where and how to get that gift certificate.

<h3>Is idlika free to use?</h3>
<p>idlika is completely free to use. 

<h3>How do I sign up?</h3>
<p>It takes only a minute to sign up for your free idlika account. Before you know it, you’ll be wowed by how easy it is to create and mange your list of gifts.

<h3>Can I tell my friends and family?</h3>
<p>Yes, the whole idea of idlika is to pass on your gift ideas to your friends and family through Facebook Connect or via email—Using your account login access they can go to your list and either click on an item, and purchase the item directly from the retailers website or they can take the information that you’ve provided and go to the retailers store location and purchase the listed gift directly from the retailer.  

<h3>How do I invite my friends with email?</h3>
<p>The best and quickest way is to use your email address book through all the major webmail services (Gmail, Yahoo, AOL, etc.) or import contacts from Outlook. You can also invite your friends on Facebook with one click.

<h3>What is Facebook Connect?</h3>
<p>Facebook Connect allows you to connect your idlika gift registries to your Facebook account.
	Is there a limit on the number of friends and family I can share my gift list with?
	No there is no limit and really the more the better. Not only can they see your gift ideas but we recommend they create their own gift registries and send their list as well to friends and family. 

<h3>How can I share my idlika gift list with friends & family on Facebook?</h3>
<p>Before you can share your idlika gift list with your friends and family on Facebook, you must first connect your idlika account with your Facebook account and log in using Facebook Connect. After that you can share all or just parts of your gift ideas with your Facebook friends and family.

<h3>Will I have the option to remove friends & family from having access to my idlika gift registry?</h3>
<p>Yes, you will have access to not just remove people for your list but add people to your list.

<h3>What is your privacy policy?</h3>
<p>Your privacy is important to us. We do not share your personal information or email address with any third party. We do not sell or give away your information. For more information, please review our <%= link_to 'privacy policy', privacy_path %>.


<h3>Where can I return my items?</h3>
<p>All returns are handled directly from the retailer, so make sure to check the retailer's policies before you make a purchase. 


<h3>Do you have another question?</h3>
<p>If you still need an answer, please send an email to <%= mail_to "info@idlika.com" %>
 and we will try to get back to you right away.

