<div id="li_body">

<div id="li_content">

<h1 class="welcome_to_idlika"></h1>

<h3>Once you've joined Idlika, what's next?  
  <ol>	
    <li>Create a Registry.</li><br/>
    <li>Add Gifts (these are images)</li><br/>
      <ul>
	    <li>From your phone</li><br/>
        <li>From web sites</li><br/>
        <li>From your digital camera</li>
      </ul><br/>
    <li>Invite Friends</li><br/>
    <li>Explore and Have Fun!</li>
  </ol>
<br/>
<br/>
<%= link_to(image_tag("/images/btn_getstarted.gif", {:alt => 'Start using idlika', :class=>"ta_start"}), new_user_path) %></li>
</div><!-- li_content -->
<div class="clearer"></div>
</div><!-- li_body -->
