<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>idlika - the shopping and wish list resource - remember things you want, share them with your friends</title>
  <%= stylesheet_link_tag 'idlika' %>
  <%= javascript_include_tag :defaults %> 
</head>

<body>

<div id="container">

<div id="masthead">
<a href="index.html"><h1><b>idlika</b></h1></a>
<a href="index.html"><h2><b>Remember things you want ... Show your friends!</b></h2></a>

<div id="loginarea">
Welcome back, <a href="my-account.html" class="name">PETA!</a> | <a href="index.html">Log Out</a>
</div><!-- loginarea -->

<div class="clearer"></div>

<div id="nav">
<ul><li><a href="index.html" class="home"><b>Home</b></a></li>
	<li><a href="my-idlika.html" class="gifts"><b>Gifts I'd Like</b></a></li>
    <li><a href="my-account.html" class="myaccnt"><b>My Account</b></a></li>
	<li><table cellspacing=0>
        <form>
        <tr valign="top">
        	<td><img src="images/search.gif" alt="Search:" style="margin:16px 8px 0px 0px;" /></td>
        	<td><input type="text" class="navsearch" name="searchterm" /></td>
        	<td><select class="navcategory" name="searchwhat">
	        	<option value="">My Registries</option>
	            <option value="">Entire Site</option>
	        </select>
            </td>
            <td><input type="image" src="images/btn_go.gif" alt="GO" style="margin-top:10px;" /></td></tr>
        </form>
        </table>
    </li>
</ul>
</div><!-- nav -->
</div><!-- masthead -->

<br/>

<div id="li_body">

<div id="li_sidebar">
<ul><li><a href="my-registries.html" class="myreg_set"><b>My Registries</b></a></li>
	<li><a href="show_registry.html">Birthday List</a></li>
    <li><a href="show_registry.html">Clothes</a></li>
    <li><a href="show_registry.html">Home Decor</a></li>
    <li><a href="new-registry.html" class="newreg"><b>New Registry</b></a></li>
    <li><a href="add-gift.html" class="addgift"><b>Add A Gift</b></a></li>
</ul>
</div><!-- li_sidebar -->

<div id="li_content">
<h1 class="add_a_gift"><b>Add A Gift... but wait, this site is under construction</b></h1>

<div id="addgift_form">
<div class="aglabel">Giver:</div>
<div class="agfield"><input type="text" class="agtext" /></div>
<div class="clearer"></div>
<div class="aglabel">Name Of Item:</div>
<div class="agfield"><input type="text" class="agtext" /></div>
<div class="clearer"></div>
<div class="aglabel">As Seen In:</div>
<div class="agfield"><input type="text" class="agtext" /></div>
<div class="clearer"></div>
<div class="aglabel">Description:</div>
<div class="agfield"><input type="text" class="agtext" /></div>
<div class="clearer"></div>
<div class="aglabel">Image:</div>
<div class="agfield"><input type="file" class="agfile" /></div>
<div class="clearer"></div>
<div class="aglabel">Tags:</div>
<div class="agfield"><input type="text" class="agtext" /></div>
<div class="clearer"></div>
<div class="aglabel">Audience:</div>
<div class="agfield"><input type="text" class="agtext" /></div>
<div class="clearer"></div>
<div class="aglabel">By when:</div>
<div class="agfield"><input type="text" class="agtext" /></div>
<div class="clearer"></div>
<div class="aglabel">After when:</div>
<div class="agfield"><input type="text" class="agtext" /></div>
<div class="clearer"></div>
<div class="aglabel">For:</div>
<div class="agfield"><select class="agselect" name="registry" />
	<option value="">Birthday List</option>
    <option value="">Clothes</option>
    <option value="">Home Decor</option>
    </select></div>
<div class="clearer"></div>
<div class="aglabel"></div>
<div class="agfield"><b>OR <a href="new-registry.html">Create A New Registry &#187;</a></b></div>
<div class="clearer"></div>
<div class="aglabel"></div>
<div class="agfield"><input type="image" src="images/btn_addthisgift.gif" alt="Add This Gift" style="margin:20px;" /></div>
<div class="clearer"></div>

</div><!-- addgift_form -->

</div><!-- li_content -->

<div class="clearer"></div>
</div><!-- li_body -->


<div id="footer">
<p>&copy;2010 idlika.com&nbsp; | &nbsp;
<a href="#">Terms of Use</a>&nbsp; | &nbsp;
<a href="#">Privacy Policy</a>&nbsp; | &nbsp;
<a href="#">What Is idlika?</a>&nbsp; | &nbsp;
<a href="#">How It Works</a>&nbsp; | &nbsp;
<a href="#">Tell A Friend</a>&nbsp; | &nbsp;
<a href="#">Advertise / Sponsor</a>&nbsp; | &nbsp;
<a href="#">FAQ</a>&nbsp; | &nbsp;
<a href="#">Contact Us</a></p>
</div><!-- footer -->

</div><!-- container -->

</body>
</html>
