<h2>Privacy Policy</h2>
<p>Idlika, LLC. has created this privacy statement in order to demonstrate our company’s commitment to privacy. We will never share your personal information in any way with any third party. </p>

<p>The following discloses our information gathering and dissemination practices for this website: www.idlika.com. </p>

<p>This site may contain links to other sites. Idlika, LLC. is not responsible for the privacy practices or the content of such other web sites. </p>

<h3>What information do we collect?</h3>
<p>We collect information from you when you fill out our registration form. This information may include your user name and password </p>

<h3>What do we use your information for?</h3>
<p>Any of the information we collect from you may be used in one of the following ways: <p>
<ul>
<li>To contact you regarding your request for information.
We invite you to contact us and welcome your electronic mail. Any communication we undertake with you will be solely to answer your questions and to provide assistance to you.</li>
<li>To improve our website
Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the service requested.</li>
</ul>

<h3>How do we protect your information?</h3>
<p>We implement a variety of security measures to maintain the safety of your personal information when you access your personal information. </p>

<h3>Do we use cookies?</h3>
<p>No </p>

<h3>Do we disclose any information to outside parties?</h3>

<p>We will never sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We do not send SPAM (unsolicited commercial email) and act in full compliance with the United States CAN-SPAM Act. If you receive unwanted, unsolicited emails sent via our delivery system or purporting to be sent via our system, please forward a copy of that email with your comments to info@idlika.com for review. We will remove your email address from our mailing lists immediately if you do not wish to be contacted by us. </p>

<p>We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect our or others' rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses. </p>

<h3>Your Consent</h3>

<p>By using our site, you consent to our website's privacy policy. </p>

<h3>Changes to our Privacy Policy</h3>

<p>If we decide to change our privacy policy, we will post those changes on this page.</p>

<p>If you have any questions about this privacy statement, the practices of this site or your dealings with idlika, LLC. feel free to <%= mail_to 'info@idlika.com', 'Contact Us' %>
    
