<h2>About Idlika</h2>

<h3>idlika gives you the easiest, most convenient and in one place way of sharing “what you want” with your friends and family all on the web.
A simple-to-use solution, idlika enables users to easily share “what I’d like” gift ideas and invite friends & family to view them. </h3>

<p>All it takes is 4 simple steps once you’re logged in.</p>

<ol>
  <li>Create a registry </li>
(Create as many as you like. A registry for your Birthday, going off to College or your Christmas wish list and the registry list goes on)
  <li>Add an image of “what I’d like” from your phone, digital camera or from a web site and upload to the registry</li>
  <li>Fill in the information/description</li>
  <li>Invite friends and family</li>
</ol>

<p>It’s easy, it’s fun and by sharing idlika with your friends and family you’ll see how idlika takes the guessing out of <strong>what to buy</strong> that special someone or what they can buy for YOU!!!</p>

<p>Make life a little easier!!</p>

<br/>
<% if show_links? %>
  <%= link_to 'Create your idlika account', new_user_path %>
  <p/>
  <a href="mailto: info@idlika.com">Start Advertising with Idlika</a>
<% end %>
