<h2>About idlika</h2>
<p>idlika brings a whole new idea of reviewing gifts online! It’s a community gift registry with a twist as it lets you assemble your own gifts online that you then share with your friends and family for free. With our easy-to-use tools, idlika makes it easier than ever for you to communicate exactly what you’d like for all those special occasions.

<h3>What does idlika do?</h3>
<p>Whether it’s for Christmas or your birthday or just because, idlika makes life just that little easier. With a quick easy sign-up, we give you the ability to upload images from your cell phone, camera or from a web site to create and manage gift ideas or even add information on your favorite hairdresser or restaurant which you can then share with friends and family. idlika takes the stress out of not knowing what to buy…. not knowing if it’ll be liked…..idlika helps you find the perfect gift!
View a list worldwide from youngster to the mature, from men to women, girls to boys, the bride and groom to the wedding guest it can be a never ending list of gift ideas that YOU create... idlika does it all!

<% if show_links? %>
  <%= button_to 'Get started now!', new_user_path %>
<% end %>