
<br/>
	<!-- registry included container -->
    <div class="aglabel">Registries Where This Gift Will Appear:</div>
    <div class="agfield"><%= check_box_tag 'registry', 'registry.name', true, :disabled=>true %>Recently Added</div>

	<% @user.registries.each do |registry| %>
      <% unless registry.name == 'Recently Added' %>		
        <div class="agfield"><%= check_box_tag registry.name.tr(' ','_'), registry  %><%= registry.name %></div>
		<%= observe_field registry.name.tr(' ','_'),
		  { :on => 'change',  :url => { :controller=>'gifts', 
			                            :action => 'registry_toggle', 
			                            :user_id => @user, 
			                            :gift_id => @gift.id, 
			                            :field => "#{registry.name.tr(' ','_')}" },
			:with => registry.name.tr(' ','_') } %>
	    <div class="aglabel"></div>
      <% end %>
	  <% end %>
	<div class="clearer"></div>
