<% title 'Index for friend' %>
<br/>
<div id="li_body">
	
  <%= render :partial => 'shared/sidebar' %>
  
  <div id="li_content">
 
    <h2>Things <%=h @friend.username%> Likes</h2>

    <% if @gifts.empty? %>

	  <h5>Apparently she doesn't like anything.  You should suggest something.</h5>

    <% else %>

      <h3>To Change Friends or Registry Click on Image</h3>
        <%= render :partial => 'friend_container', :collection => @gifts %>

    <% end %>

</div><!-- li_content -->
<div class="clearer"></div>
</div><!-- li_body -->



