<br/>

<div id="li_body">
	<div id="li_sidebar">
	  <ul>
        <li><%= link_to_unless_current (image_tag "sidenav_myregistries.gif"), user_registries_path(@user) %></li>
		    <%= render :partial => "shared/registries" %>
		</ul>
	</div><!-- li_sidebar -->

<div id="li_content">
	<!-- replaced via index_of_friend.rjs -->
</div><!-- li_content -->


<div class="clearer"></div>
</div><!-- li_body -->



