

	<!-- registry included container -->
    <div class="aglabel">Which registry(ies) will show it?:</div>

		<% @user.registries.each do |registry| %>
          <div class="aglabel"><%= check_box_tag registry.name, registry.name %><%= registry.name %></div>
		<% end %>

	<div class="clearer"></div>