<div id="addgift_form">
<div class="clearer"></div>

<div class="aglabel">Registry <%= f.label :name %>:</div>
<div class="agfield" style="width:100px;"><%= f.text_field :name, :class=>"agtext" %></div>
<div class="clearer"></div>

<!-- Peta requested this be removed 
<div class="aglabel">Registry < f.label :description >:</div>
<div class="agfield" style="width:100px;">< f.text_area :description, :class=>"agtext", :size=>'34x3' ></div>
<div class="clearer"></div>
-->


