<div id="li_body">
  <%= render :partial => 'shared/sidebar' %>
  <div id="li_content">
  <h1>Edit your registry</h1>

	<% form_for(@registry) do |f| %>
	  <%= f.error_messages %>
	  <div id="addgift_form">

        <%= render :partial => 'form', :locals => { :f => f } %>
	    <%= image_submit_tag("/images/btn_addthisgift_on.gif") %>(UPDATE THIS REGISTRY)</div>
	
    <% end %> <!-- form -->

  </div> <!-- addgift_form -->
  </div><!-- li_content -->
</div><!-- li_body -->
