<h1>Listing registries</h1>

<table>
  <tr>
  </tr>
<% @registries.each do |registry| %>
  <tr>
    <td><%= link_to 'Show', registry %></td>
    <td><%= link_to 'Edit', edit_registry_path(registry) %></td>
    <td><%= link_to 'Delete', registry, :confirm => 'Are you sure you want to delete this registry?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New registry', new_registry_path %>