<div id="li_body">
<%= render :partial => 'shared/sidebar' %>
<div id="li_content">
  <h1 class="new_registry"></h1>

<% form_for([@user, @registry]) do |f| %>
  <%= f.error_messages %>

  <%= render :partial=>'form', :locals => { :f => f } %>
  <div class="aglabel"></div>
  <div class="agfield" stylesheet="margin:20px">
	  <%= image_submit_tag("/images/btn_createregistry_on.gif") %></div>
	</div> <!-- addgift_form -->

<% end %> <!-- form -->

</div><!-- li_content -->
<br />
<div class="aglabel"></div>
<div class="agfield"><!-- link_to 'Back', user_registries_path(@user) --></div>
<div class="clearer"></div>
</div><!-- li_body --> 

 


