<h1>Listing items</h1>

<table>
  <tr>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= link_to 'Show', gift_item_path(@gift, item) %></td>
    <td><%= link_to 'Edit', edit_gift_item_path(@gift, item) %></td>
    <td><%= link_to 'Destroy', gift_item_path(@gift, item), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item', new_gift_item_path(@gift) %>